In [2]:
import numpy

In [3]:
numpy.array([2.5, 3.5, 3])

array([2.5, 3.5, 3. ])

In [1]:
import tushare as ts

In [5]:
index_sh = ts.get_h_data('399001', index=True, start='2018-01-31', end='2018-01-31')

[Getting data:]

In [6]:
index_sh

,open,high,close,low,volume,amount
date,,,,,,
2018-01-31,11210.064,11244.181,11159.676,11119.316,19479497333,251412200515