In [2]:
import numpy

In [3]:
numpy.array([2.5, 3.5, 3])

array([2.5, 3.5, 3. ])

In [4]:
import tushare as ts

In [5]:
index_sh = ts.get_h_data('399001', index=True, start='2018-01-31', end='2018-01-31')

[Getting data:]

In [6]:
index_sh

,open,high,close,low,volume,amount
date,,,,,,
2018-01-31,11210.064,11244.181,11159.676,11119.316,19479497333,251412200515

In [7]:
df = ts.get_index()

In [8]:
df

,code,name,change,open,preclose,close,high,low,volume,amount
0,000001,上证指数,0.33,3291.4258,3288.4055,3299.1219,3303.2247,3283.5591,129981193,1565.8358
1,000002,Ａ股指数,0.33,3447.3479,3444.1704,3455.3872,3459.7048,3439.0948,129805848,1564.6566
2,000003,Ｂ股指数,0.40,328.4447,328.6315,329.9569,330.0159,328.0462,175345,1.1793
3,000008,综合指数,0.17,3092.9220,3085.4608,3090.5742,3101.6140,3077.2097,29434991,331.6203
4,000009,上证380,0.96,5484.9655,5484.7018,5537.4072,5540.2124,5484.9655,32483324,403.9832
5,000010,上证180,0.11,8736.2148,8716.8549,8726.8177,8758.9521,8702.6735,51507332,600.6798
6,000011,基金指数,0.26,6234.3903,6229.9812,6246.4575,6249.2045,6229.0667,21698910,193.9339
7,000012,国债指数,0.01,162.2999,162.2842,162.3052,162.3117,162.2987,69628,0.6628
8,000016,上证50,-0.07,2907.0416,2898.2542,2896.1437,2916.5531,2891.8682,24149748,301.3431
9,000017,新综指,0.33,2779.5095,2776.9450,2785.9935,2789.4778,2772.8522,128135255,1538.0270
10,000300,沪深300,0.47,4088.0704,4077.6001,4096.8596,4102.9977,4076.4537,88965507,1176.5995
11,000905,中证500,1.08,6131.1248,6131.5142,6197.5019,6202.1664,6131.0147,67881698,771.4989
12,399001,深证成指,1.39,11040.3660,11019.0780,11171.7640,11186.0720,11030.5530,18608260904,2455.0256
13,399002,深成指R,1.39,13189.2450,13163.8130,13346.2180,13363.3100,13177.5210,9566102485,1277.2562
14,399003,成份Ｂ指,0.97,6480.9570,6467.8250,6530.8560,6536.1710,6475.7880,11340377,0.5721
15,399004,深证100R,1.25,5765.8080,5747.2840,5818.9490,5829.5210,5753.1070,3571472796,526.0376
16,399005,中小板指,1.73,7543.6950,7521.2240,7651.6030,7663.2180,7530.6180,1966410818,331.5961
17,399006,创业板指,3.11,1794.2540,1793.2220,1848.9300,1850.5150,1793.9240,2256331505,347.4005
18,399008,中小300,1.60,1471.0100,1468.1540,1491.6960,1493.5180,1469.4300,3904856222,562.1554
19,399100,新 指 数,1.27,8405.2660,8393.7350,8500.2320,8508.6720,8401.5890,18444614848,2421.5506
20,399101,中小板综,1.40,11030.3410,11013.8550,11167.9950,11178.1440,11019.2160,6917558803,965.1460
21,399106,深证综指,1.35,1858.7830,1856.4730,1881.5250,1883.1780,1858.2120,18608260904,2455.0256
22,399107,深证Ａ指,1.35,1943.8380,1941.4180,1967.6690,1969.4000,1943.2400,18588528454,2454.0539
23,399108,深证Ｂ指,0.53,1166.7140,1166.0270,1172.2380,1173.0760,1165.5740,19732450,0.9718
24,399333,中小板R,1.73,8309.2790,8284.5260,8428.1390,8440.9330,8294.8740,1966410818,331.5961
25,399606,创业板R,3.11,1868.9160,1867.8400,1925.8670,1927.5180,1868.5720,2256331505,347.4005

In [9]:
ts.get_h_data('399006', index=True)

[Getting data:]####

                open      high     close       low      volume       amount
date
2018-03-08  1783.104  1795.817  1793.222  1781.456  1391903853  22716800809
2018-03-07  1795.174  1800.451  1785.270  1780.296  1582019949  24795584735
2018-03-06  1798.035  1810.256  1797.609  1790.543  1953134524  31983007631
2018-03-05  1780.822  1795.693  1795.693  1768.881  1671133970  26712809313
2018-03-02  1777.458  1804.250  1772.005  1767.901  2072233082  32519576664
2018-03-01  1744.340  1789.849  1789.849  1741.028  2319276568  35260652186
2018-02-28  1730.152  1773.733  1753.627  1723.395  2164076306  33627712851
2018-02-27  1729.937  1757.374  1743.541  1728.311  2284075241  35145173008
2018-02-26  1683.146  1733.708  1729.153  1673.953  1992136497  31505927864
2018-02-23  1674.624  1681.245  1668.834  1656.953  1252009197  19167872750
2018-02-22  1661.559  1679.794  1677.765  1650.875  1400531539  21058909191
2018-02-14  1649.573  1652.009  1646.771  1633.762  1002437795  14837087756
2018-02-13  1657.128  1669.079  1648.582  1644.865  1491516655  23062872042
2018-02-12  1604.562  1654.654  1648.072  1604.562  1670387810  24556171267
2018-02-09  1598.475  1629.356  1592.510  1576.886  2087645978  29316049828
2018-02-08  1608.729  1651.586  1641.431  1608.631  1826038931  26057068472
2018-02-07  1632.872  1637.777  1616.400  1571.470  2270200263  31783593093
2018-02-06  1653.447  1675.563  1598.116  1597.886  2027177810  29407277279
2018-02-05  1678.187  1698.281  1688.272  1674.975  1489730902  22158856716
2018-02-02  1683.179  1726.890  1702.426  1676.243  1771725421  26715222492
2018-02-01  1735.663  1746.545  1697.390  1697.390  1902954178  28630084646
2018-01-31  1766.767  1767.777  1735.057  1732.980  2011389247  30368533584
2018-01-30  1794.328  1808.011  1782.399  1779.330  1771170739  26869541030
2018-01-29  1811.542  1826.097  1799.771  1791.578  2226394477  34735723840
2018-01-26  1809.131  1830.547  1816.800  1809.131  2020478986  31592970403
2018-01-25  1811.114  1852.226  1810.835  1807.515  2959538879  46192526241
2018-01-24  1763.686  1817.084  1813.275  1752.304  2749470267  44774741010
2018-01-23  1767.330  1776.495  1767.829  1760.339  1358853808  23082959807
2018-01-22  1726.317  1776.181  1768.214  1715.427  1891202901  30346355010
2018-01-19  1735.030  1745.592  1728.140  1726.527  1345378952  21963665052
...              ...       ...       ...       ...         ...          ...
2017-04-21  1849.281  1863.582  1839.006  1836.524   809853787  15883765843
2017-04-20  1843.966  1856.729  1850.390  1836.437   918991203  17793002118
2017-04-19  1841.601  1845.643  1845.382  1812.390  1104925319  19621675388
2017-04-18  1867.575  1878.097  1848.203  1847.203   895502456  16290382960
2017-04-17  1880.770  1886.607  1868.281  1862.364   896846047  16132764632
2017-04-14  1910.992  1910.992  1887.460  1887.349   980747043  17748948893
2017-04-13  1896.486  1920.233  1910.476  1896.486   909602566  16904612252
2017-04-12  1913.783  1915.017  1897.506  1896.854  1135036745  19991038736
2017-04-11  1907.104  1920.776  1917.633  1887.889  1496242235  27188997400
2017-04-10  1940.301  1940.301  1912.451  1911.108  1434523214  28429028222
2017-04-07  1942.107  1953.569  1946.048  1939.318  1253915429  24369188463
2017-04-06  1947.085  1951.226  1944.234  1939.372  1060731769  22483319573
2017-04-05  1914.907  1943.433  1943.160  1914.907  1114945682  22990391646
2017-03-31  1895.812  1908.527  1907.338  1895.812   748634417  16369764850
2017-03-30  1924.512  1926.531  1893.701  1893.298  1045132166  21774421645
2017-03-29  1945.141  1948.723  1929.196  1926.603   879245186  18819388408
2017-03-28  1946.332  1953.239  1944.363  1940.376   689333436  15400782891
2017-03-27  1964.625  1967.105  1947.528  1947.528   813726475  17835435311
2017-03-24  1948.270  1966.423  1965.137  1946.121   901171546  18801989569
2017-03-23  1951.873  1960.335  1948.369  1930.440   936195224  19885498177
2017-03-22  1952.800  1959.715  1948.580  1939.287   955136189  20104594527
2017-03-21  1953.558  1961.645  1961.063  1948.893   776056130  16992637086
2017-03-20  1948.604  1953.816  1953.816  1939.647   868877263  18157486222
2017-03-17  1968.153  1981.690  1949.661  1949.351  1177127203  25445671364
2017-03-16  1959.054  1968.435  1966.727  1959.054   971705121  22063309621
2017-03-15  1951.708  1964.426  1957.820  1943.609  1010802745  24306415148
2017-03-14  1967.473  1970.478  1958.023  1952.097  1085257359  25867626688
2017-03-13  1948.518  1972.079  1970.879  1939.032  1001614993  20956568675
2017-03-10  1952.501  1957.714  1950.008  1945.573   784018186  17217291898
2017-03-09  1962.644  1962.644  1953.943  1948.789   973805958  20556078245

[245 rows x 6 columns]